body {
    background-color: #17a2b8;
    color: black;
}

nav {
    color: white;
    font-size: 2rem;
}

section,
aside,
#UpdatePassword {
    display: none;
}

p {
    margin-bottom: 0;
}

.font-site {
    font-family: 'Luckiest Guy', cursive;
}

.cursor-pointer {
    cursor: pointer;
}

p {
    margin-bottom: 0;
}